@model GrammyAwards.Models.ViewModels.ErrorViewModel
<h1>Error</h1>
<ul>
    @foreach (var error in Model?.Errors ?? Enumerable.Empty<string>())
    {
        <li>@error</li>
    }
</ul>
@if (Model?.ShowRequestId == true)
{
    <p>Request ID: @Model.RequestId</p>
}