@model GrammyAwards.Models.ViewModels.AwardDetails

@{
    ViewData["Title"] = "Award Details";
}

<h1>Award Details</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>@Model.AwardName</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Award Name:</dt>
                <dd class="col-sm-9">@Model.AwardName</dd>
                
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Model.Description</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-secondary" href="@Url.Action("List", "AwardPage")">Back to List</a>
    </div>
</div>
